* {
    margin: 1%;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffebee;
    color: #424242;
    line-height: 1.6; 
}

header {
    height: 130px;
    background-color: #fcc1cb;
    padding: 15px;
    border-radius: 55px;
    transition: transform 1s ease;
}

header:hover {
    transform: translateY(-5px); 
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7%;
  border-radius: 55px;
  background-color: rgba(255, 255, 255, 0.8); 
  border: 2px solid transparent;
  background-clip: padding-box;
  background-image: linear-gradient(to right, #f7e7e7,#f9d7dd);
  
}

.logo:hover {
  transform: rotate(0deg) scale(0.9); /* 鼠标悬停时旋转并放大 */
}

.logo {
    font-family: cursive;
    font-size: 2.2vw;
    font-weight: 800;
    color: rgb(64, 46, 46);
    margin: 0.5%;
    padding: 0.7%;
    margin-left: 1.2%;
    background-color: rgba(237, 226, 226, 0.5);
    border-radius: 25px;
    background: linear-gradient(to right, #f5d7d7, #ffedf9); 
    text-shadow: 2px 2px 4px rgba(238, 84, 135, 0.2); 
    transform: rotate(-3deg);
}

nav ul {
  display: flex;
  list-style: none;
  font-family: cursive;
  flex-wrap: nowrap; 
  white-space: nowrap; 
  font-size: 1.5vw; 
  margin-right: 80px;
}

nav ul li {
  margin-left: 2%;
  background-color: #ffcaca;
  padding: 1%;
  border-radius: 10px;
}

nav ul li:hover {
  background-color: #ffecef; 
}

nav ul li a {
  color: rgb(30, 23, 23);
  padding: 5px 10px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
  transition: color 0.5s ease;
}

nav ul li a:hover {
  background-color: rgba(93, 73, 72, 0.2);
  color: #fb7e91;
}

nav ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -8px;
  left: 0;
  background-color: #140c0e;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

#basic-info{
  float: right;
  clear: right;
  width: 71%;
}

.section {
    padding: 20px;
    margin: 20px;
    background-color: rgb(249, 218, 218);
    border-radius: 20px;
    box-shadow: 0 10px 8px rgba(26, 20, 20, 0.1);
    clear: both;
}

#avatar1{
  float: left;
  text-align: center;
  width: 21%;
  margin: 2%;
  margin-top: 20px;
  margin-right: 0;
  background-color: #fde1e5;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 10px 8px rgba(26, 20, 20, 0.1);
}

#avatar1 img{
  margin-top: 20%;
  width: 90%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* 添加阴影效果 */
  transition: transform 0.5s ease; 
}

#avatar1 img:hover{
  transform: scale(1.05); 
}

.section-title {
    font-family: cursive;
    font-weight: 900px;
    font-size: 2vw;
    padding: 5px 20px 5px 5px;
    margin-top: 0.5%; 
    background-color: #fff;
    border-radius: 10px;
}

.section-title:hover{
  transform: scale(1.05); 
}

.resume-table {
    width: 97%;
    border-collapse: collapse;
    font-size: 1.5vw;
    margin: 10px;
}

.resume-table th,
.resume-table td {
    border: 1.8px solid #ccc;
    padding: 12px;
    padding-left: 20px;
    text-align: left;
    font-weight: 600;
}

.resume-table th {
    background-color: #f0f0f0;
}
.resume-table td{
    background-color: #fbf2f295;
}

.skill-bar {
    background-color: #ddd;
    border-radius: 10px;
    height: 25px;
    margin-bottom: 5px;
}

.skill-level {
    width: 0;
    background: linear-gradient(90deg, #f8acc3 0%, #f4cccf 100%);
    border-radius: 10px;
    height: 100%;
    margin-left: -5px;
    transition: width 1.5s cubic-bezier(0.86, 0, 0.07, 1);
    position: relative;
}

.skill-level::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 65%;
            height: 100%;
            background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 50%, rgba(255,255,255,0) 100%);
            transform: translateX(-50%);
            animation: shine 2s infinite;
        }
        
        @keyframes shine {
            100% {
                transform: translateX(100%);
            }
        }
        
.text-center {
    font-family: cursive;
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 2%px;
    background-color: #f1c8ce;
    padding: 1.5px;
    border-radius: 55px;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    
}

.btn-download {
    display: inline-block;
    background-color: #f8f5f5;
    color: rgb(247, 205, 205);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-download:hover {
    background-color: #f5d0d0;
    color: #000;
}

footer {
  background-color: #fcc1cb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  color: white;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
}
